doctype html
html
  head
    meta(charset='utf-8')
    title !{title}
    link(rel="stylesheet", href="./node_modules/bootstrap/dist/css/bootstrap.min.css")
  body
    block container
      div.container
        h1=title
        h3="js刷算法有毒，不再更新，待学习了其他语言之后继续更新"
      div.container
        ul.list-group
          each item in list
            li.list-group-item
              a(href="#{item.src}") !{item.title}
    block footer
      div.container 
        footer 版权所有 - by Walker walker.study@foxmail.com